.container {
    background-color: #F9DEFF;
}
.all {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #E2E2E2;
    padding: 3%;
    background-color: #EAE9EA;
}

.margen {
    margin-right:20px;
}

.final {
    margin-bottom: 25px;
}

.li {
    border-bottom: 12px solid black;
}


/*
h1{
    font-family: 'Patrick Hand', cursive;
}

ul > li{
    display: grid;
    grid-template-columns: .5fr 2.5fr .5fr .5fr;
}

li > *{
    display: flex;
    flex-wrap: wrap;
}

li{
    background-color:	#ffffff85;
    margin: 4px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 2rem;
    line-height: 1.5em;
    border-radius: 10px;
}
*/