<div class="all">
  <div class="container">
    <h4 class="page-header text-center">MY TO DO LIST</h4> <hr>
  </div>
    
  <div>
    <input type="text" placeholder="Write here" class="form-control" #itemTitle>
    <div class="form-control addInput" (click)="onAdd(itemTitle)" style="background-color: #D9FEED;">
      <i class="fa fa-plus-circle fa-2x  hover-cursor" style="color:green"> Add</i>
    </div>
  </div> <br><br>
</div>


<div class="container" style="margin: 5px 0px">
  <h4 class="page-header text-center">LIST OF TASKS</h4> <hr>
  <mat-form-field appearance="fill" class="apariencia">
    <mat-label>Order</mat-label>
    <mat-select>
      <mat-option (click)="titleOrder()" value="Alfabético">Alfabético</mat-option>
      <mat-option (click)="titleOrder(false)">!Alfabético</mat-option>
      <mat-option [class.iconActive]="!ordenar && !arriba" (click)="stateOrder(false)" value="Estado">Estado</mat-option>
      <mat-option [class.iconActive]="!ordenar && arriba" (click)="stateOrder()" value="!Estado">!Estado</mat-option>
      <mat-option [class.iconActive]="!ordenar && !arriba" (click)="dateOrder(false)" value="Fecha">Fecha</mat-option>
      <mat-option [class.iconActive]="!ordenar && arriba" (click)="dateOrder()" value="!Fecha">!Fecha</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<ul class="list-group" *ngFor="let item of toDoListArray">
  <li class="list-group-item">
    <!-- Se crea o pasa a estado 'pendiente'-->
    <div *ngIf="item.state==0">
      <button mat-mini-fab class="pull-left margen" color="green" [class.text-success]="item.state" (click)="alterState(item.$key,item.state)">
        <mat-icon>build</mat-icon>
      </button>

      <span class="text-center">{{item.title}} </span> 
        
      <button mat-mini-fab class="pull-right" color="warn" (click)="onDelete(item.$key)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <!-- Pasa a estado 'en progreso'-->
    <div *ngIf="item.state==1">
      <button mat-mini-fab class="pull-left margen return" [class.text-success]="item.state" (click)="alterState2(item.$key,item.state)">
        <mat-icon>autorenew</mat-icon>
      </button>
      <button mat-mini-fab class="pull-left margen green" [class.text-success]="item.state" (click)="alterState(item.$key,item.state)">
        <mat-icon>check_circle_outline</mat-icon>
      </button>

      <span class="text-center">{{item.title}}   <mat-spinner [diameter]="18" class="rigth"></mat-spinner></span>

      <button mat-mini-fab class="pull-right" color="warn" (click)="onDelete(item.$key)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <!-- Pasa a estado 'done'-->
    <div *ngIf="item.state==2">
      <button mat-mini-fab class="pull-left margen return" [class.text-success]="item.state" (click)="alterState2(item.$key,item.state)">
        <mat-icon>autorenew</mat-icon>
      </button>
      <span class="text-center">{{item.title}}  </span>

      <button mat-mini-fab class="pull-right" color="warn" (click)="onDelete(item.$key)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-icon class="done pull-right">check_circle</mat-icon>
    </div>
  </li>
  <div><input title="form" type="text" class="colorear" placeholder="Edite aquí" #itemTitle > 
    <span class="hover-cursor" (click)="edit(item.$key,item,itemTitle)"><mat-icon mat-list-icon>edit</mat-icon> </span>
  </div>
</ul>
<br><br>

<div class="container">
  <h4 class="page-header text-center">DONE LIST 'HISTÓRICO'</h4><hr>
</div>
<div class="final">
  <ul class="list-group" *ngFor="let item of toDoListArray">
    <li class="list-group-item" *ngIf="item.state == 2">
      <span class="text-center">{{item.title}}   <span class="separar">-></span> <span class="fa fa-check-square"> Done</span> </span>
    </li>
  </ul>
</div>